extends ../index.pug

block content
  section
      h1 Defis
      form(action="/post/store", method="post")
        div
          label(for="title") Titre
          input(id="title", type="text", name="title" value="title")
        div
          label(for="content") Contenu
          textarea(name="content", id="content") Lorem ipsum dolor sit amet consectetur adipiscing elit libero, varius praesent consequat orci lacus eros congue, maecenas turpis auctor platea commodo class aenean. A pellentesque rutrum rhoncus curabitur mattis ridiculus consequat dapibus dictum class vestibulum, pharetra eget eu lacus commodo ullamcorper placerat nullam tempor dictumst.
        div
          label(for="image") Image
          input(id="image", type="url", name="image", value="https://picsum.photos/200")
        div
          button(type="submit") Envoyer


